# Comments are allowed! # MUST be the first character of the line. Put the code
# (what you get from your LIRC::Event#name) followed by the command to be run.
# You can include as much white space as you want.

# Start XBMC if it isn't already running when the HOME key is pressed
KEY_HOME pkill -0 xbmc.bin || DISPLAY=:0 xbmc

# Update my media library by running this script when I press the More button
More     ~/bin/update_my_library.sh
